* {
    font-family: "Noto Sans KR", sans-serif;
    color: white;
  }

  li{
    display: inline-block;
  }

  body{
    margin: 0px;
  }

  header {
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: changeBackground 20s linear infinite;
  }

  @keyframes changeBackground {
    0% { background-image: url('../images/header_img1.jpg'); }
    25% { background-image: url('../images/header_img2.jpg'); }
    50% { background-image: url('../images/header_img3.jpg'); }
    75% { background-image: url('../images/header_img4.jpg'); }
    100% { background-image: url('../images/header_img1.jpg'); }
  }

  section{
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    padding: 5.6vw;
    position: relative;
  }

  nav{
    padding-left: 36px;
    padding-right: 36px;
  }

  .nav__login__ul{
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .nav__login__li{
    display: inline-flex;

    border: 0.8px solid silver;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    opacity : 0.8;
  }

  .nav__login_link{
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 18px;
    color: silver;
    text-decoration: none;

    width: 50px 20px;
    padding: 8px 16px;
    margin: 2px;
  }

  .nav__login_link:hover{
    color: black;
    background-color: white;
    padding: 10px 18px;
    border: 0;
    margin: 0;
  }

  .header__section{
    padding-bottom: 100px;
    padding-top: 0;
  }

  .header__section__logo{
    width: 180px;
    height: 97.96px;
  }

  .header__section__h{
    font-weight: 500;
    font-size: 44px;
    color: white;
    letter-spacing: normal;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .header__section__comment-1{
    font-weight: 400;
    font-size: 16px;

    color: silver;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .header__section__email{
    display: flex;
    flex-direction: row;

    margin-top: 24px;
    margin-bottom: 0;
  }

  .header__section__email-input{
    font-size: 18px;

    background-color: rgb(82, 82, 95);
    width: 400px;
    height: 40px;
    border: 0;
    padding: 10px 10px;
    padding-right: 0;
  }

  .header__section__button{
    font-size: 18px;
    font-weight: 300;

    background-color: rgb(3, 138, 248);
    width: 200px;
    height: 40px;
    border: 0;
  }

  input:focus {outline: none;}

  .header__section__comment-2{
    font-weight: 400;
    font-size: 16px;
    color: silver;

    margin-top: 24px;
    margin-bottom: 0;
  }

  .header__section__a{
    text-decoration: underline;
    color: white;
  }

  .header__section__comment-3{
    font-weight: 400;
    font-size: 12px;
    color: silver;

    margin-top: 24px;
    margin-bottom: 0;
  }

  main{
    background-color: black;
  }

  .main__section1_title{
    font-weight: 700;
    font-size: 40px;
    color: white;

    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
  }

  .main__section1_article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-top: 20px;
  }

  .section1_img{
    width: 100%;
    height: auto;
    display: block;

    border-radius: 4px;
  }

  .main__section2{
    display: flex;
  }

  .main__section2_ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .main__section2_li{
    display: flex;
    flex-direction: row;
    flex: 0 0 calc(25% - 18px);

    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .main__section2_text{
    display: flex;
    flex-direction: column;
  }

  .main__section2_li::after{
    display: block;
    background-color: white;
    width: 1px;
    height: 80px;
    content: "";
    margin-left: 20px;
  }

  .main__section2_li:last-child:after{
    display: none;
  }

  .section2_h3{
    font-weight: 700;
    font-size: 24px;
    color: white;
    line-height: 1.2;
    text-align: center;

    margin: 0;
    padding: 0 10px;
  }

  .section2_p{
    font-weight: 400;
    font-size: 18px;
    color: silver;
    line-height: 1.4;
    text-align: center;

    margin-top: 24px;
    margin-bottom: 0;
    padding: 0 10px;
  }

  .main__section3{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main__section3_article{
    display: block;
    box-sizing: border-box;
    padding: 0 25px;
  }

  .section3_h2{
    font-size: 40px;
    font-weight: 700;
    color: white;
    line-height: 1.2;
    margin: 0;
  }

  .section3_p{
    font-size: 18px;
    font-weight: 400;
    color: silver;
    line-height: 1.4;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .main__section3_img{
    display: block;
    height: auto;
    width: 100%;
    max-width: 50%;
  }

  .main__section4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__section4_title{
    font-weight: 700;
    font-size: 40px;
    color: white;

    display: block;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .main__section4_p{
    font-size: 20px;
    font-weight: 400;
    color: silver;
    line-height: 1.4;
    margin: 0;
    margin-top: 20px;
  }

  .main__section4_article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-top: 20px;
  }

  .section4_img{
    width: 100%;
    height: auto;
    display: block;

    border-radius: 4px;
  }

  .main__section5{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__section5_title{
    font-size: 40px;
    font-weight: 700;
    color: 1.2;
    margin: 0;
  }

  .main__section5_article{
    display: block;
    box-sizing: border-box;
  }

  .section5_article_button{
    border: none;
    cursor: pointer;

    width: 100%;
    background: 0 0;
    margin-top: 16px;
    padding: 24px;
    background-color: rgba(26, 26, 26, 0.905);
  }

  .section5_article_button_question{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: start;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    background-color:  rgba(26, 26, 26, 0.905);
  }

  .section5_article_button_question::after{
    font-size: 40px;
    color: white;

    display: block;
    content: "+";
    
    width: 25px;
    height: 30px;
    transform: translateY(-50%);
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: black;
    background-position: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 26px 0;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
  }

  footer section{
    display: block;
    max-width: 1024px;
    padding: 0;
  }

  footer img{
    width: 80px;
    height: 44px;
  }

  footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;

    position: relative;
    margin: 15px auto 0;
    padding: 0 8px;
    position: relative;
  }

  footer li{
    padding: 8px 12px;
  }

  footer a{
    font-weight: 400;
    color: silver;
    text-decoration: none;
  }

  footer a:hover{
    color: white;
  }

  footer p{
    margin: 0;
    margin-top: 20px;
    color: silver;
  }

  

  